<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Suite" verbose="1">
    <test name="Magento">
        <classes>
            <class name="tests.uitests.MagentoTests"/>
        </classes>
    </test>
    <test name="Sauce">
        <classes>
            <class name="tests.uitests.SauceDemoTests"/>
        </classes>
    </test>
</suite>
